@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    justify-content: center;
    height: 100vh;
    box-sizing: content-box;
    background-color: #060606;
    color: #FFFFFF;
}

.apresentacao {
    width: 70%;
    padding: 10%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentacao__conteudo {
    padding: 15% 5% 15% 0%;
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 30px;
}

.apresentacao__conteudo__resumo {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__titulo__destaque {
    color: #22D4FD;
}

.foto {
    box-shadow: 5px -5px 3px #22D4FD;
    width: 350px;
    border-radius: 10px;
}

.botoes {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}

.botoes a {
    text-decoration: none;
    border-radius: 15px;
    padding: 15px 45px;
    background-color: #22D4FD;
    color: #060606;
    font-size: large;
}